/* Cards.css */
.card-container {
  position: relative;
}

.max-w-800px {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.card-container {
  flex: 0 0 calc(33.333% - 1rem); /* Adjust the percentage as needed */
  margin: 0.5rem; /* Adjust the margin as needed */
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity/color as needed */
  z-index: 1;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out; /* Smooth transition */
}

.card-container:hover .overlay {
  opacity: 1; /* Show the overlay on hover */
}



/* Rest of your styles... */
